/*-- scss:defaults --*/
// Source: https://github.com/alexpghayes/quarto-blog/blob/main/ember.scss
  
  // use litera as the base
$theme: "litera" !default;

// import google fonts
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap';

// use Atkinson Hyperlegible font if available
$font-family-sans-serif:  "Atkinson Hyperlegible", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

/*-- scss:rules --*/
  
  // litera is serif by default: revert to san-serif
p {
  font-family: $font-family-sans-serif;
}

/* Align the elements in the navbar with the margins of the content body */
/* Source: https://www.ddanieltan.com/posts/blogtips/#make-custom-css-tweaks */
.navbar > .container-xxl, .navbar > .container-xl, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container, .navbar > .container-fluid {
  max-width: 1145px;
  margin: 0 auto;
}